/*
 * _players.scss contains all the styles added on to the base
 * foundation styles contained in _base.scss
 */

// --------------------------------------
//              Variables 
// ---------------------------------------

// Format posts
$header-height-mobile: 10rem;
$article-padding: 1rem;
$article-bg: #fff;
$article-bg-trans: rgba($article-bg ,0.8);
$article-height: 40rem;
$article-max-width: rem-calc(450);

// Logos
$playerslogo-height: rem-calc(128);
// RIT logo is the letters R I T
$ritlogo-height: rem-calc(30);
$ritlogo-width: $ritlogo-height * 101/30;
// RIT long is 'Rochester Institute of Technology'
$ritlong-height: rem-calc(18);
$ritlong-width: $ritlong-height * 590/40;
$ritlong-spacing: 2rem;

// --------------------------------------
//               Top Bar
// ---------------------------------------

.top-bar {
    // logo image
    img {
        height:$topbar-height;
    }
    // site name
    .name {
        h1 {
            height:$topbar-height;
            a {
                display: inline;
                padding: rem-calc(0 5);
                vertical-align: top;
            }
        }

        .ritlogo {
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
        }
        // span is needed to get enough specificity to override
        // the default foundation styles
        span.ritabbr {
            @extend .ritlogo;
            background-image: url('img/rit_30.png');
            height: $ritlogo-height;
            margin-top: ($topbar-height - $ritlogo-height) / 2;
            // The rit_30.png image is 101x30 pixels
            padding-left: $ritlogo-width;
        }
        span.ritlong {
            @extend .ritlogo;
            background-image: url('img/rit_long.min.svg');
            height: $ritlong-height;
            margin-bottom: ($ritlogo-height - $ritlong-height) / 2; 
            padding-left: $ritlong-width + $ritlong-spacing;
            background-position: bottom;
        }
    }
}

// Search box in top bar
.ritsearch {
    padding-top: 0.1rem;
    input {
        box-shadow: none;
        border-right: none;
        padding-top: 0.2rem;
        padding-bottom: 0.10rem;
        border-radius: 0.6rem 0px 0px 0.6rem;
        border-right: none;
        margin: 0;
        height: 1.6rem;
    }
    i {
        font-size: initial;
    }
}
.search-button {
    @include button-base;
/*    @include button($bg:$body-bg);
    @include button-size($button-med, false); */
    @include button-style($body-bg, false, false, #ccc, #eee);
/*    color: $body-font-color; */
    height: 1.6rem !important;
    border: 1px solid #ccc;
    padding: 0.2rem 0.2rem 0.10rem !important;
    border-radius: 0px 0.6rem 0.6rem 0px;
    border-left: none;
    margin: 0;
}

// --------------------------------------
//            Offcanvas Menu
// --------------------------------------

// The foundation .menu-icon class only works in the tab bar (not the top bar)
// so the code for that icon is transplanted here for the top bar.
.top-bar .menu-icon {
    text-indent: $tabbar-menu-icon-text-indent;
    width: $topbar-height;
    height: $topbar-height;
    display: block;
    padding: $tabbar-menu-icon-padding;
    color: $tabbar-menu-icon-color;
    position: relative;
    transform: translate3d(0,0,0);
    margin-left: $article-padding;

    // @include for the hamburger menu-icon
    //
    // Arguments as follows: ($width, $left, $top, $thickness, $gap, $color, $hover-color)
    // $width - Width of hamburger icon in rem Default: $tabbar-hamburger-icon-width.
    // $left - If false, icon will be centered horizontally || explicitly set value in rem Default: $tabbar-hamburger-icon-left= False
    // $top - If false, icon will be centered vertically || explicitly set value in rem Default: = False
    // $thickness - thickness of lines in hamburger icon, set value in px Default: $tabbar-hamburger-icon-thickness = 1px
    // $gap - spacing between the lines in hamburger icon, set value in px Default: $tabbar-hamburger-icon-gap = 6px
    // $color - icon color Default: $tabbar-menu-icon-color
    // $hover-color - icon color when hovered Default: $tabbar-menu-icon-hover
    // $offcanvas - Set to true
    @include hamburger($tabbar-hamburger-icon-width, $tabbar-hamburger-icon-left, $tabbar-hamburger-icon-top, $tabbar-hamburger-icon-thickness, $tabbar-hamburger-icon-gap, $tabbar-menu-icon-color, $tabbar-menu-icon-hover, true);

    &:hover {
        background-color: $off-canvas-label-bg !important;
    }
}

//Allow for forms, etc in the offcanvas menu
.off-canvas-list div.row {
    padding:0.66667rem;
}


// ----------------------------
//         Players Logo
// ----------------------------

#logo {
    position:fixed;
    bottom:0;
    left: 0;
    z-index:750;
    background-color: $article-bg-trans;
    padding-right: $article-padding;
    transition: transform 0.3s ease;
    transform-origin: left;
    transform: rotateY(0deg);

    &.rotate-away {
        transform: rotateY(90deg);
    }
    
    img {
        position: absolute;
        bottom: 0;
        height: $playerslogo-height
    }
    h2 {
        padding-left: $playerslogo-height + $article-padding;
    }
    h3 {
        padding-left: $article-padding;
    }
    .wrap-inner {
        position: relative;
    }
}

// -----------------------------
//            Content
// -----------------------------

.columns {
    padding-left: 0;
    padding-right: 0;
}

#content {
    article > div {
        // Separator line between articles
        border-bottom: 3px groove #c7c7c7;
        background-color: $article-bg-trans;
    }

    // The coverimg is behind the title of the article
    // The background url will be specified in the main HTML
    .coverimg {
        background-size: cover;
        height: $header-height-mobile;
        width: 100%;
        margin-bottom: $article-padding/2;

        h2 {
            padding: 0 $article-padding;
            height: $header-height-mobile;
            display: table-cell;
            vertical-align: bottom;
            text-shadow: 1px 2px 2px black;

            a {
                color: white;
            }
        }
    }

    .entry-content, footer {
        padding: 0 $article-padding;
    }

    footer {
        font-size: 0.7em;

        .vcard {
            @extend .label;
            @extend .secondary;
            border: none;
            .fn {
                font-size: inherit;
            }
        }
    }

    .edit-link {
        float: right;
        margin-left: $article-padding;
    }
}

@media #{$medium-up} {
    #content {
        article {
            // Padding and min-height are to ensure image visibility
            padding: 3rem;
            min-height: $article-height;
            background-size: cover;
            background-position: center;
        }
        article > div {
            // Remove separator line
            border-bottom: none;
            // Constrain width for floats
            max-width: $article-max-width;
        }
        .coverimg {
            background-image: none !important;
            height: auto;

            h2 {
                height: auto;
                display: block;
                text-shadow: none;
                
                a { color: inherit; }
            }
        }
        // Float articles over images
        article:nth-child(odd) > div {
            float:right;
        }
        article:nth-child(even) > div {
            float:left;
        }
    }
    .inner-wrap > .row {
        max-width: 100% !important;
    }
}

// -----------------------------
//           Footer 
// -----------------------------

#footer {
    background-color: $topbar-bg-color;
    color: $tabbar-menu-icon-color;
    padding: 2.5rem;

    h1, h2, h3, h4, h5, h6 {
        color: $tabbar-menu-icon-color;
    }

    ul {
        list-style: none;
    }
}
